name: <%= @svc_name %>
connect_timeout: 0.25s
<%- if @listener['keepalive'] != nil -%>
common_http_protocol_options:
  idle_timeout: <%= @listener['keepalive'] %>
<%- end -%>
type: STRICT_DNS
dns_lookup_family: V4_ONLY
lb_policy: ROUND_ROBIN
load_assignment:
  cluster_name: cluster_<%= @svc_name %>
  endpoints:
  - lb_endpoints:
    - endpoint:
        address:
          socket_address:
            address: <%= @address %>
            port_value: <%= @svc['port'] %>
# Given we go through a load-balancer, we want to keep the number of requests that go through a single connection pool small
max_requests_per_connection: 1000
# Let's not enable circuit-breaking for now. It would look something like
#circuit_breakers:
#  thresholds:
#    - max_pending_requests: 30
<%- if @svc['encryption'] -%>
transport_socket:
  name: envoy.transport_sockets.tls
  typed_config:
    <%- if @api_version == 2 -%>
    "@type": type.googleapis.com/envoy.api.v2.auth.UpstreamTlsContext
    <%- else -%>
    "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
    <%- end -%>
    common_tls_context:
       tls_params:
         tls_minimum_protocol_version: TLSv1_2
         cipher_suites: ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384
       validation_context:
         trusted_ca:
           filename: /etc/ssl/certs/ca-certificates.crt
<%- end -%>

