#############################################################
# This file is maintained by puppet!
# modules/snapshot/templates/dumps/wikidump.conf.erb
#############################################################

[wiki]
dblist=<%= @config[@configtype]['global']['dblist'] %>
privatelist=<%= scope.lookupvar('snapshot::dumps::dirs::apachedir') -%>/dblists/private.dblist
closedlist=<%= scope.lookupvar('snapshot::dumps::dirs::apachedir') -%>/dblists/closed.dblist
skipdblist=<%= @config[@configtype]['global']['skipdblist'] %>
flowlist=<%= scope.lookupvar('snapshot::dumps::dirs::apachedir') -%>/dblists/flow.dblist
dir=<%= scope.lookupvar('snapshot::dumps::dirs::apachedir') %>
adminsettings=private/PrivateSettings.php
tablejobs=<%= scope.lookupvar('snapshot::dumps::dirs::confsdir') -%>/table_jobs.yaml
multiversion=<%= scope.lookupvar('snapshot::dumps::dirs::apachedir') -%>/multiversion

[output]
public=<%= @publicdir %>
private=<%= @privatedir %>
temp=<%= @tempdir %>
templatedir=<%= scope.lookupvar('snapshot::dumps::dirs::templsdir') %>
index=backup-index.html
webroot=http://download.wikimedia.org
fileperms=0o644

[reporting]
adminmail=<%= @config[@configtype]['global']['adminmail'] %>
mailfrom=root@wikimedia.org
smtpserver=localhost
# 15 minutes is long enough to decide a lock is expired, right?
staleage=900
skipprivatetables=1

[database]
max_allowed_packet=32M

[tools]
php=<%= scope.lookupvar('snapshot::dumps::configs::php') %>
mysql=/usr/bin/mysql
mysqldump=/usr/bin/mysqldump
gzip=/bin/gzip
bzip2=/bin/bzip2
sevenzip=/usr/bin/7za
lbzip2=/usr/bin/lbzip2
checkforbz2footer=/usr/local/bin/checkforbz2footer
writeuptopageid=/usr/local/bin/writeuptopageid
recompressxml=/usr/local/bin/recompressxml
revsperpage=/usr/local/bin/revsperpage

[cleanup]
keep=<%= @config[@configtype]['global']['keep'] %>

[chunks]
<% if @config[@configtype]['global'].has_key?('chunksEnabled') -%>
chunksEnabled=<%= @config[@configtype]['global']['chunksEnabled'] %>
<% end -%>
<% if @config[@configtype]['global'].has_key?('recombineMetaCurrent') -%>
recombineHistory=<%= @config[@configtype]['global']['recombineMetaCurrent'] %>
<% end -%>
<% if @config[@configtype]['global'].has_key?('recombineHistory') -%>
recombineHistory=<%= @config[@configtype]['global']['recombineHistory'] %>
<% end -%>
<% if @config[@configtype]['global'].has_key?('checkpointTime') -%>
checkpointTime=<%= @config[@configtype]['global']['checkpointTime'] %>
<% end -%>
<% if @config[@configtype]['global'].has_key?('revsPerJob') -%>
revsPerJob=<%= @config[@configtype]['global']['revsPerJob'] %>
<% end -%>
<% if @config[@configtype]['global'].has_key?('retryWait') -%>
retryWait=<%= @config[@configtype]['global']['retryWait'] %>
<% end -%>
<% if @config[@configtype]['global'].has_key?('revsMargin') -%>
revsMargin=<%= @config[@configtype]['global']['revsMargin'] %>
<% end -%>
<% if @config[@configtype]['global'].has_key?('lbzip2threads') -%>
lbzip2threads=<%= @config[@configtype]['global']['lbzip2threads'] %>
<% end -%>

[otherformats]
multistream=1

[misc]
sevenzipprefetch=1
<% if @config[@configtype]['global'].has_key?('maxRetries') -%>
maxRetries=<%= @config[@configtype]['global']['maxRetries'] %>
<% end -%>

[stubs]
minpages=1
maxrevs=100000

[bigwikis]
# generic settings for big wikis
<% @config[@configtype]['big'].keys.sort.each do |bigsetting| -%>
<% if bigsetting != 'wikis' -%>
<%= bigsetting %>=<%= @config[@configtype]['big'][bigsetting] %>
<% end -%>
<% end -%>

[en]
# generic settings for enwiki (huge)
<% @config[@configtype]['en'].keys.sort.each do |ensetting| -%>
<% if ensetting != 'wikis' -%>
<%= ensetting %>=<%= @config[@configtype]['en'][ensetting] %>
<% end -%>
<% end -%>

[wd]
# generic settings for wikidata (huge)
<% @config[@configtype]['wd'].keys.sort.each do |wdsetting| -%>
<% if wdsetting != 'wikis' -%>
<%= wdsetting %>=<%= @config[@configtype]['wd'][wdsetting] %>
<% end -%>
<% end -%>

[monitor]
# generic settings for monitor service
<% @config[@configtype]['monitor'].keys.sort.each do |monitorsetting| -%>
<% if monitorsetting != 'wikis' -%>
<%= monitorsetting %>=<%= @config[@configtype]['monitor'][monitorsetting] %>
<% end -%>
<% end -%>

[media]
# generic settings for media title periodic jobs
<% @config[@configtype]['media'].keys.sort.each do |mediasetting| -%>
<% if mediasetting != 'wikis' -%>
<%= mediasetting %>=<%= @config[@configtype]['media'][mediasetting] %>
<% end -%>
<% end -%>

########################
# wiki-specific settings

<% if @config[@configtype].has_key?('big') -%>
<% if @config[@configtype]['big'].has_key?('wikis') -%>
<% @config[@configtype]['big']['wikis'].keys.sort.each do |w| -%>

[<%= w %>]
# specific settings for wiki <%= w %>
<% @config[@configtype]['big']['wikis'][w].keys.sort.each do |bigwikisetting| -%>
<%= bigwikisetting %>=<%= @config[@configtype]['big']['wikis'][w][bigwikisetting] %>
<% end -%>
<% end -%>
<% end -%>
<% end -%>


<% if @config[@configtype].has_key?('en') -%>
<% if @config[@configtype]['en'].has_key?('wikis') -%>
<% @config[@configtype]['en']['wikis'].keys.sort.each do |w| -%>

[<%= w %>]
# specific settings for wiki <%= w %>
<% @config[@configtype]['en']['wikis'][w].keys.sort.each do |ensetting| -%>
<%= ensetting %>=<%= @config[@configtype]['en']['wikis'][w][ensetting] %>
<% end -%>
<% end -%>
<% end -%>
<% end -%>


<% if @config[@configtype].has_key?('wd') -%>
<% if @config[@configtype]['wd'].has_key?('wikis') -%>
<% @config[@configtype]['wd']['wikis'].keys.sort.each do |w| -%>

[<%= w %>]
# specific settings for wiki <%= w %>
<% @config[@configtype]['wd']['wikis'][w].keys.sort.each do |wdsetting| -%>
<%= wdsetting %>=<%= @config[@configtype]['wd']['wikis'][w][wdsetting] %>
<% end -%>
<% end -%>
<% end -%>
<% end -%>

