# Parsercache (based on production)
# Main changes are reduced durability and p_s

[client]
port   = 3306
socket = <%= @socket %>

[mysqld]

user               = mysql
socket             = <%= @socket %>
port               = 3306
extra_port         = 3307
basedir            = <%= @basedir %>
datadir            = <%= @datadir %>
tmpdir             = <%= @tmpdir %>
server_id          = <%= @server_id %>
report_host        = <%= @fqdn %>
wsrep_cluster_name = <%= @site %> # For orchestrator. T266635

# Parsercache needs to be writeable (no masters).
read_only = 0

# enable socket authentication
plugin-load = unix_socket=auth_socket.so

log_bin
log_slave_updates
skip-external-locking
skip-name-resolve
temp-pool

secure_file_priv               = /dev/null
thread_handling                = pool-of-threads
thread_pool_stall_limit        = 100
thread_pool_size               = 32
max_connections                = 5000
back_log                       = 500
extra_max_connections          = 10
max_connect_errors             = 1000000000
max_allowed_packet             = 32M
connect_timeout                = 3
query_cache_size               = 0
query_cache_type               = 0
event_scheduler                = 1

log-warnings                   = 0
thread_stack                   = 192K
thread_cache_size              = 300
interactive_timeout            = 28800
wait_timeout                   = 3600
transaction-isolation          = REPEATABLE-READ
use_stat_tables                = preferably

# do not sync binlog, allow group commit
sync_binlog                    = 0
binlog_cache_size              = 1M
max_binlog_size                = 1000M
# statement-based replication and not row because performance and data
# integrity problems should be similar, but it allows async dual masters
binlog_format                  = STATEMENT
expire_logs_days               = 1
slave_transaction_retries      = 4294967295
sql-mode                       = IGNORE_BAD_TABLE_OPTIONS
tmp_table_size                 = 64M
max_heap_table_size            = 64M

table_open_cache               = 50000
table_definition_cache         = 40000
open-files-limit               = 200000
character_set_server           = binary
character_set_filesystem       = binary
collation_server               = binary

default-storage-engine         = InnoDB
# enable innodb_file_per_table to allow size purging
innodb_file_per_table          = 1
innodb_buffer_pool_size        = <%= (Float(@memorysize.split[0]) * 0.75).round %>G
innodb_log_file_size           = 2G
# reduce durability - this is a cache server
innodb_flush_log_at_trx_commit = 0
innodb_flush_method            = O_DIRECT
innodb_thread_concurrency      = 0
innodb_io_capacity             = 20000
innodb_stats_sample_pages      = 16
innodb_stats_method            = nulls_unequal
innodb_file_format             = barracuda
innodb_strict_mode             = 1
innodb_purge_threads           = 1
# Changed because of https://jira.mariadb.org/browse/MDEV-22373
innodb_change_buffering        = none
# T287244
innodb_checksum_algorithm = full_crc32

# T268869
innodb_adaptive_hash_index=OFF

aria_pagecache_buffer_size     = 1G
join_cache_level               = 8

# dump and load innodb buffer at start and stop
innodb_buffer_pool_load_at_startup  = 1
innodb_buffer_pool_dump_at_shutdown = 1
<% if @kernelversion < "3.19" %>
# Until kernel 3.16 http://www.spinics.net/lists/stable/msg61873.html
# At least, I think so. For now we need to avoid the an assertion failure on Trusty w/ 3.13
innodb_use_native_aio          = 0
innodb_read_io_threads         = 16
innodb_write_io_threads        = 8
<% end %>
<% if @ssl == 'on' or @ssl == 'puppet-cert' %>
# ssl
ssl-ca=/etc/ssl/certs/Puppet_Internal_CA.pem
ssl-cert=/etc/mysql/ssl/cert.pem
ssl-key=/etc/mysql/ssl/server.key
ssl-cipher=TLSv1.2
<% end %>
<% if @p_s == 'on' %>
# Enabling performance_schema (disabled by default in MariaDB10)
performance_schema                                     = 1
# downsizing performance schema memory usage: T99485
performance_schema_digests_size                        = -1
performance_schema_max_thread_instances                = 500
performance_schema_max_cond_instances                  = 1000
performance_schema_accounts_size                       = 300
performance_schema_hosts_size                          = 300
performance_schema_events_statements_history_size      = 10
performance_schema_events_statements_history_long_size = 1000
performance_schema_events_waits_history_size           = 10
performance_schema_events_waits_history_long_size      = 1000
performance_schema_events_stages_history_size          = 10
performance_schema_events_stages_history_long_size     = 1000
performance_schema_max_mutex_instances                 = 5000
performance_schema_max_rwlock_instances                = 2000
performance_schema_max_socket_instances                = 500
performance_schema_max_table_instances                 = 1000
<% else %>
# only enable userstat if p_s is disabled
performance_schema                                     = 0 
userstat                                               = 1
<% end %>
<% if @basedir == '/opt/wmf-mariadb104' -%>
# Disable rowid_filter on 10.4 optimizer - T245489
optimizer_switch               = 'mrr=on,mrr_cost_based=on,mrr_sort_keys=on,optimize_join_buffer_size=on,rowid_filter=off'
<% else %>
optimizer_switch               = 'mrr=on,mrr_cost_based=on,mrr_sort_keys=on,optimize_join_buffer_size=on'
<% end -%>

[mysqldump]

quick
max_allowed_packet = 32M

#!includedir /etc/mysql/conf.d/
